<h2>Recent TweetsAbout: </h2>
<ul>
    <li>
        <a href="<?php echo $block->escapeHtml($block->getMagentoUrl())?>">
            <span><?php echo __('Magento') ?></span>
        </a>
    </li>
    <li>
        <a href="<?php echo $block->escapeHtml($block->getPacktUrl()) ?>">
            <span><?php echo __('Packtpub') ?></span>
        </a>
    </li>
    <li>
        <a href="<?php echo $block->escapeHtml($block->getPHPUrl()) ?>">
            <span><?php echo __('PHP') ?></span>
        </a>
    </li>
</ul>